.button {
  background-color: rgb(134, 40, 40);
  font-size: 3rem;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  box-sizing: content-box;
  border-radius: 0.3em;
  width: 42vw;
  height: 20vh;
  border: none;
}

.button:active {
  background-color: orange;
}

.button:visited {
  background-color: rgb(201, 134, 9);
}

.transparent {
  background-color: rgba(255, 255, 255, 0);
}

.clicked {
  background-color: rgb(202, 9, 9);
}

@media screen and (min-width: 1024px) {
  .button {
    width: 16vw;
    height: 24vh;
  }
}
