.button {
  font-size: 2rem;
  width: 20vw;
  height: 9vh;
  background-color: rgb(236, 213, 7);
  border: none;
  border-radius: 0.2em;
}

.clicked {
  background-color: rgb(255, 145, 0);
}

@media screen and (min-width: 1024px) {
  .button {
    width: 8vw;
    font-size: 4rem;
  }
}
