.header {
  width: 100%;
  height: 10vh;
  background-color: rgb(222, 204, 11);
  display: flex;
  justify-content: end;
  padding: 1em;
}

.button-container {
  display: flex;
  gap: 1em;
}

.img {
  object-fit: cover;
  width: 2em;
  height: 2em;
}

.reset {
  cursor: pointer;
  border: none;
  padding: 1em;
  border-radius: 0.5em;
}

@media screen and (min-width: 1024px) {
  .img {
    width: 3em;
    height: 3em;
  }

  .header {
    height: 8vh;
    justify-content: center;
  }
}
