.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1em;
  min-width: 100%;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 40%;
  }
}
