.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  gap: 1em;
  /* border: 1px solid blue; */
}

.number-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: center; */
  align-items: center;
  gap: 1em;
  /* border: 3px solid rgb(0, 255, 98); */
}

.operator-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  /* border: 3px solid rgb(247, 0, 255); */
}
